<div class="container-fluid background">
  <div class="row">
    <div class="col-md-8 mt-5">
      <h4 class="col-md-6 text-center"><span class="title">お問い合わせ</span></span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mt-5">
      <h6 class="col-md-8 text-center"><span class="title">お問い合わせいただきありがとうございました。</span></span></h6>
    </div>
  </div>
</div>